<nav class="main-nav">
  <a href="/index.html">
    <img class="logo" src="./images/logo.svg" alt="logo">
  </a>
  <ul class="nav-list">
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
        <li class="link-style">
          <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
